*.cache
Xenon/Xenon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Xenon/Xenon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Xenon/Xenon/_MainMenuState.ts
Xenon/Xenon/_ScoreTable.ts
Xenon/Xenon/_ViewScoresState.ts